@media screen and (max-width: 1200px) {
  #form {
    max-width: 45%;
  }
}

@media screen and (max-width: 943px) {
  #menu {
    line-height: 50px;
    font-size: 90%;
  }

  #menu li {
    margin-right: 10px;
  }

  #logo {
    font-size: 180%;
    letter-spacing: 3px;
  }

  #hero-outer{
    height: 500px;
  }

  #description-text{
    font-size: 110%;
    letter-spacing: 2px;
    width: 400px;
    padding-left: 5px;
    bottom:110px;
    left: 40px;
  }

  #form {
    max-width: 70%;
  }

  #gallery-container h4 {
    max-width: 80%;
  }

  /****** ABOUT US PAGE ******/
  #about-us-cont{
    max-width: 85%;
  }

  #about-us-cont h1,#about-us-cont h2,
  #about-us-cont h3 {
    max-width: 90%;
  }

  .about-us-img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 778px) {
  #menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #gallery-container h4 {
    max-width: 90%;
  }

  #services .row .col {
    padding-top: 20px;
  }
}

@media screen and (max-width: 575px) {
  #logo {
    font-size: 150%;
  }

  #menu {
    font-size: 100%;
    clear: left;
    float: left;
    margin: 0 0 20px 30px;
    line-height: 25px;
  }

  #hero-outer{
    height: 350px;
  }

  #description-text{
    font-size: 75%;
    width: 250px;
    bottom: 60px;
    left: 25px;
  }

  #booking #form {
    max-width: 95%;
    margin: 0 auto;
  }

  #gallery-container h4 {
    max-width: 100%;
  }

  #services .row .col {
    padding-bottom: 20px;
  }

  #services .row {
    padding-bottom: 0;
  }
}


@media screen and (max-width: 440px){
  #menu {
    font-size: 75%;
    margin: 0 0 15px 30px;
    line-height: 20px;
  }

  #hero-outer{
    height: 250px;
  }

  #description-text{
    font-size: 75%;
    width: 250px;
    bottom: 40px;
    left: 25px;
  }
}

